.icon {
	background-repeat: no-repeat;

	&.icon-facebook {
		background-image: url('../src/icons/png/facebook.png');
	}

	&.icon-github {
		background-image: url('../src/icons/png/github.png');
	}

	&.icon-scroll-indicator {
		background-image: url('../src/icons/png/scroll-indicator.png');
	}

	&.icon-twitter {
		background-image: url('../src/icons/png/twitter.png');
	}

	&.icon-vk {
		background-image: url('../src/icons/png/vk.png');
	}

}