.slide--1905
  +media-query( $screen, $bp--tablet )
    background black
    h2, p
      color white
    p.date
      display none
  .slide__background
    background-image url('../images/1905-1.jpg')
