.slide--1915
  +media-query( $screen, $bp--tablet )
    background url('../images/1915-background.jpg')
    background-size cover
    h2, p
      color white
  .slide__background-front
    background-size 80%
    background-repeat no-repeat
    background-image url('../images/1915-calculations.png')
