.slide--1976
  h2
    color white
  p
    color $color--light-gray
  .slide__background
    background url('../images/1979-orbits-background.png')
  .slide__background-front
    background-image url('../images/1976-bg-3.png')
  .slide__background-middle
    background-image url('../images/1976-bg-2.png')
    background-position 50%
    background-size auto
    background-repeat no-repeat
  .slide__background-back
    display block
    background-image url('../images/1976-bg-1.png')
