.slide--1986
  background #00031b
  h2
    color white
  p
    color $color--light-gray
  .slide__infographics
    position relative
    z-index 10000
  .slide__background-front
    background-image url('../images/stars.png')
  .slide__background
    background-image url('../images/1986-blue-glow.png')
