.slide--1988-b
  background $color--space-blue
  h2
    color white
  p
    color $color--light-gray
  .slide__background
    background-image url('../images/1988-b-bg.png')
    background-position right center
