.slide--1988-a
  padding-bottom 150px
  +media-query( $screen, $bp--desktop )
    padding-bottom 0px
  h2
    color white
  p
    color $color--light-gray
  .slide__background-front
    display block
    background-image url('../images/1988-a-atmosphere.png')
    background-position center bottom
    background-size auto
  .slide__background
    display block
    background-image url('../images/1988-a-stars.png')
