.cover
  position relative
  overflow hidden
  min-height 100%
  //background-image url('../images/cover-background.jpg')
  background-color #010825
  background-size cover
  background-position center

.cover__title
  position relative
  margin-bottom 0
  margin-top 20%
  font-family $font--headings--condenced
  font-weight $weight--thin
  font-size $size--kilo
  line-height 0.95
  letter-spacing rem(5px)
  text-transform uppercase
  +media-query( $screen, $bp--tablet )
    font-size $size--tera
  +media-query( $screen, $bp--desktop )
    font-size $size--peta
  z-index 100

.cover__title strong
  display block
  font-size $size--tera
  font-weight $weight--black
  +media-query( $screen, $bp--tablet )
    margin-top 0
    font-size $size--exa
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--zetta
  +media-query( $screen, $bp--desktop--medium )
    margin-top auto
    font-size $size--yotta

.cover__coming-soon
  position relative
  font-family $font--headings--condenced
  font-weight $weight--light
  font-size $size--milli
  text-transform uppercase
  letter-spacing rem(5px)
  color $color--white
  z-index 100
  margin-left auto
  margin-right auto
  +media-query( $screen, $bp--tablet )
    width rem(550px)
    letter-spacing rem(8px)
  +media-query( $screen, $bp--desktop )
    margin-top rem(-1px)
    width rem(620px)
    letter-spacing rem(10px)

.cover__coming-soon span
  display block
  margin-top rem(10px)
  font-size $size--nano
  line-height 1.25
  letter-spacing rem(2px)
  text-transform none
  color $color--light-gray

.cover__ui-hint
  position relative
  font-size $size--nano
  font-style italic
  letter-spacing rem(1px)
  color $color--light-gray
  z-index 100

.cover__layer
  position absolute
  background-repeat no-repeat

.cover__layer--tombaugh
  size 500px 429px
  background-size auto 429px
  background-image url('../images/cover-clyde-tombaugh.png')
  top 50%
  left 50%
  margin-top rem(-450px)
  margin-left rem(-315px)
  z-index 90
  +media-query( $screen, $bp--tablet )
    size 700px 668px
    background-size auto 668px
    margin-top rem(-550px)
    margin-left rem(-500px)
  +media-query( $screen, $bp--desktop )
    background-size auto
    size 931px 885px
    margin-top rem(-652px)
    margin-left rem(-665px)

.cover__layer--lowell
  background-image url('../images/cover-percival-lowell.png')
  top 50%
  left 50%
  z-index 80
  +media-query( $screen, $bp--tablet )
    size 300px 361px
    background-size auto 361px
    margin-top rem(-220px)
    margin-left rem(-280px)
  +media-query( $screen, $bp--desktop )
    size 405px 497px
    background-size auto
    margin-top rem(-175px)
    margin-left rem(-612px)

.cover__layer--stern
  background-image url('../images/cover-alan-stern.png')
  size 160px 183px
  background-size auto 183px
  top 50%
  left 50%
  margin-top rem(-275px)
  margin-left rem(50px)
  z-index 70
  +media-query( $screen, $bp--tablet )
    size 250px 285px
    background-size auto 285px
    margin-top rem(-225px)
    margin-left rem(120px)
  +media-query( $screen, $bp--desktop )
    size 367px 423px
    background-size auto
    margin-top rem(-180px)
    margin-left rem(250px)

.cover__layer--new-horizons
  size 90px 93px
  background-size auto 93px
  background-image url('../images/cover-new-horizons.png')
  top 50%
  left 50%
  margin-top rem(-375px)
  margin-left rem(100px)
  z-index 60
  +media-query( $screen, $bp--tablet )
    size 150px 156px
    background-size auto 156px
    margin-top rem(-395px)
    margin-left rem(160px)
  +media-query( $screen, $bp--desktop )
    size 183px 226px
    background-size auto
    margin-top rem(-420px)
    margin-left rem(260px)

.cover__layer--pluto
  size 48px
  background-image url('../images/cover-pluto.png')
  background-size auto 48px
  top 50%
  left 50%
  margin-top rem(-420px)
  margin-left rem(70px)
  z-index 50
  +media-query( $screen, $bp--tablet )
    size 68px
    margin-top rem(-420px)
    margin-left rem(100px)
  +media-query( $screen, $bp--desktop )
    margin-top rem(-435px)
    margin-left rem(165px)

.cover__layer--charon
  size 14px
  background-image url('../images/cover-charon.png')
  top 50%
  left 50%
  margin-top rem(-420px)
  margin-left rem(40px)
  z-index 40
  +media-query( $screen, $bp--tablet )
    size 18px
    margin-top rem(-420px)
    margin-left rem(70px)
  +media-query( $screen, $bp--desktop )
    margin-top rem(-422px)
    margin-left rem(115px)

.cover__layer--lense-flare
  size 865px 1065px
  background-image url('../images/lense-flare.png')
  background-size auto 1065px
  top 50%
  left 50%
  margin-left rem(-540px)
  margin-top rem(-580px)
  z-index 30
  +media-query( $screen, $bp--tablet )
    margin-top rem(-600px)
    margin-left rem(-490px)
  +media-query( $screen, $bp--desktop )
    size 1365px 1565px
    background-size auto
    margin-left rem(-760px)
    margin-top rem(-780px)

.cover__layer--vortex
  size 480px 469px
  top 50%
  left 50%
  background-image url('../images/cover-vortex.png')
  background-size auto 469px
  margin-top rem(-350px)
  margin-left rem(-240px)
  z-index 20
  +media-query( $screen, $bp--tablet )
    top 50%
    left 50%
    size 560px 547px
    background-size auto 547px
    margin-top rem(-320px)
    margin-left rem(-275px)
  +media-query( $screen, $bp--desktop )
    size 764px 746px
    background-size 764px 746px
    margin-top rem(-360px)
    margin-left rem(-395px)

.cover__layer--glow
  size 100% 100%
  top 0
  left 0
  background-size 1600px auto
  background-position center
  background-repeat no-repeat
  background-image url('../images/cover-glow.png')
  z-index 15
