.intro
  min-height 100%

.intro__text
  padding-left 12px
  padding-right 12px
  padding-bottom 80px
  +media-query( $screen, $bp--tablet--portrait )
    width 565px
    margin-left auto
    margin-right auto
