.subscribe-view
  padding 2em 0
  min-height 100%
  background-image url('../images/subscribe-background.jpg')
  background-size cover
  background-position center
  position relative

.subscribe__date
  margin 0 auto
  text-transform uppercase
  font-size $size--femto
  font-family $font--headings
  font-weight $weight--light
  letter-spacing rem(1px)
  color $color--dark-gray
  +media-query( $screen, $bp--tablet )
    width 450px
  +media-query( $screen, $bp--desktop )
    width 535px
    font-size $size--pico

.subscribe__text
  margin 0 auto
  font-size $size--pico
  font-family $font--headings--condenced
  letter-spacing rem(0.5px)
  color $color--dark-gray
  +media-query( $screen, $bp--tablet )
    width 550px
  +media-query( $screen, $bp--desktop )
    width 650px
    font-size $size--micro

.subscribe__input
  box-sizing border-box
  padding-left 1.25em
  padding-right 1.25em
  height rem(50px)
  font-size $size--nano
  font-weight $weight--thin
  letter-spacing rem(1px)
  line-height rem(50px)
  color $color--light-gray
  background #17171f
  border solid 1px #17171f
  border-left solid 1px #1f1f27
  border-bottom solid 1px #1f1f27
  width 100%
  +placeholder()
    font-size $size--atto
    line-height rem(50px)
    font-weight $weight--thin
    color #414346
    text-transform uppercase
    text-align center
  +media-query( $screen, $bp--tablet )
    width 70%
    +placeholder()
      text-align left

.subscribe__button
  width 100%
  height 50px
  font-size $size--pico
  color #fefefe
  text-transform uppercase
  background-image linear-gradient( 180deg, #0e78d7,  #0a51c3)
  border none
  border-top solid 1px #63a8e5
  font-weight 300
  letter-spacing .15em
  margin-top 1em
  +media-query( $screen, $bp--tablet )
    width 30%
    margin-top auto

.subscribe__form-group
  margin 2em 5%
  width 90%
  +media-query( $screen, $bp--tablet )
    width 500px
    margin 2em auto
  +media-query( $screen, $bp--desktop )
    width 600px

.subscribe__thank-you-wrapper
  display none
  margin 0 auto
  +media-query( $screen, $bp--tablet )
    width 550px
  +media-query( $screen, $bp--desktop )
    width 650px

.subscribe__thank-you-msg
  font-size $size--pico
  color $color--dark-gray
  +media-query( $screen, $bp--desktop )
    font-size $size--nano
  a
    color #0c73cb
    text-decoration none

.subscribe__error
  display none
  color #F74242
  font-weight bold
  font-size $size--femto
