section#block-1848-search-begins.js-nav-block.slide.slide--1848.u-centering-wrapper(data-title= slides['1848']['title'])
  .slide__bg.slide__bg--1848
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1848']['title']
      p.date= slides['1848']['date'] 
      p= slides['1848']['content'][0]
