section#block-1905-first-predictions.js-nav-block.slide.slide--1905.u-centering-wrapper(data-title= slides['1905']['title'])
  .slide__background
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['1905']['title']
      p.date= slides['1905']['date']
      p= slides['1905']['content'][0]
      p= slides['1905']['content'][1]
