section#block-1905.js-nav-block.slide.slide--1905.u-centering-wrapper
  .slide__bg.slide__bg--1905
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1905']['title']
      p.date= slides['1905']['date']
      p= slides['1905']['content'][0]
      p= slides['1905']['content'][1]
