section#block-1915-planet-x.js-nav-block.slide.slide--1915.u-centering-wrapper(data-title= slides['1915']['title'])
  .slide__background-front
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['1915']['title']
      p.date= slides['1915']['date']
      p= slides['1915']['content'][0]
      p= slides['1915']['content'][1]
