section.slide.slide--1915
  .slide__bg.slide__bg--1915
  .slide__content
    h2= slides['1915']['title']
    p.date= slides['1915']['date']
    p= slides['1915']['content'][0]
    p= slides['1915']['content'][1]
