section#block-1930-discovery-of-pluto.js-nav-block.slide.slide--1930-a.u-centering-wrapper(data-title= slides['1930-a']['title'])
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['1930-a']['title']
      p.date= slides['1930-a']['date']
