section#block-1930-a.js-nav-block.slide.slide--1930-a.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1930-a']['title']
      p.date= slides['1930-a']['date']
