section.slide.slude--1930-b.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1930-b']['title']
      p.date= slides['1930-b']['date']
      p= slides['1930-b']['content'][0]
