section#block-1965-orbital-resonance.js-nav-block.slide.slide--1965.u-centering-wrapper(data-title= slides['1965']['title'])
  .orbits
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['1965']['title']
      p.date= slides['1965']['date']
      p= slides['1965']['content'][0]
      p= slides['1965']['content'][1]
