section.slide.slide--1965.u-centering-wrapper
  .orbits
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1965']['title']
      p.date= slides['1965']['date']
      p= slides['1965']['content'][0]
      p= slides['1965']['content'][1]
