section#block-1976-frozen-world.js-nav-block.slide.slide--1976.u-centering-wrapper(data-title= slides['1976']['title'])
  .slide__background-front
  .slide__background-middle
  .slide__background-back
  .slide__background
  .u-centered
    .slide__content.slide__content--center
      h2.heading.heading--slide= slides['1976']['title']
      p.date= slides['1976']['date']
      p= slides['1976']['content'][0]
