section.slide.slide-1976.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1976']['title']
      p.date= slides['1976']['date']
      p= slides['1976']['content'][0]
