section.slide.slide--1978.u-centering-wrapper
  .slide__bg.slide__bg--1978
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1978']['title']
      p.date= slides['1978']['date']
      p= slides['1978']['content'][0]
      p= slides['1978']['content'][1]
    // .slide__image.slide__image--1978
