section.slide.slide--1979.u-centering-wrapper
  .orbital-resonance
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1979']['title']
      p.date= slides['1979']['date']
      p= slides['1979']['content'][0]
      p= slides['1979']['content'][1]
