section#block-1979-closer-to-the-sun.js-nav-block.slide.slide--1979.u-centering-wrapper(data-title= slides['1979']['title'])
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1979']['title']
      p.date= slides['1979']['date']
      p= slides['1979']['content'][0]
      p= slides['1979']['content'][1]
    .orbits
      .solar-system
        .solar-system__sun
        .solar-system__jupiter--super-orb
        .solar-system__jupiter
        .solar-system__saturn--super-orb
        .solar-system__saturn
        .solar-system__uranus--super-orb
        .solar-system__uranus
        .solar-system__neptune--super-orb
        .solar-system__neptune
        .solar-system__pluto--super-orb
        .solar-system__pluto
      .orbits__date.orbits__date--1979
        span 1979
      .orbits__date.orbits__date--1989
        span 1989
      .orbits__date.orbits__date--1999
        span 1999
