section.slide.slide--1979.u-centering-wrapper
  .orbital-resonance
    .solar-system
      .solar-system__sun
      .solar-system__mercury
      .solar-system__venus
      .solar-system__earth
      .solar-system__mars
      .solar-system__jupiter
      .solar-system__saturn
      .solar-system__ranus
      .solar-system__neptune
      .solar-system__pluto
      .solar-system__asteroids-belt

  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1979']['title']
      p.date= slides['1979']['date']
      p= slides['1979']['content'][0]
      p= slides['1979']['content'][1]
