section.slide.slide--1988-b.u-centering-wrapper
  .slide__bg.slide__bg--1988-b-bg
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1988-b']['title']
      // p.date= slides['1988-b']['date']
      p= slides['1988-b']['content'][0]
      p= slides['1988-b']['content'][1]
    .unstable-orbits
      .unstable-orbits__sun
