section#block-1988-the-atmosphere.js-nav-block.slide.slide--1988-a.u-centering-wrapper(data-title= slides['1988-a']['title'])
  .slide__background
  .slide__background-front
  .u-centered
    .slide__content.slide__content--center
      h2.heading.heading--slide= slides['1988-a']['title']
      p.date= slides['1988-a']['date']
      p= slides['1988-a']['content'][0]
      p= slides['1988-a']['content'][1]
