section.slide.slide--1988-a.u-centering-wrapper
  .slide__bg.slide__bg--1988-a-stars
  .slide__bg.slide__bg--1988-a-atmosphere
  .u-centered
    .slide__content.slide__content--center
      h2.headline.headline--slide= slides['1988-a']['title']
      // p.date= slides['1988-a']['date']
      p= slides['1988-a']['content'][0]
      p= slides['1988-a']['content'][1]
