section.slide.slide-1988-a.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1988-a']['title']
      p.date= slides['1988-a']['date']
      p= slides['1988-a']['content'][0]
      p= slides['1988-a']['content'][1]
