section#block-1992.js-nav-block.slide.slide--1992.u-centering-wrapper
  .slide__bg.slide__bg--1992
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['1992']['title']
      p.date= slides['1992']['date']
      p= slides['1992']['content'][0]
