section#block-2005.js-nav-block.slide.slide--2005.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['2005']['title']
      p.date= slides['2005']['date']
      p= slides['2005']['content'][0]
