section#block-2005-new-moons.js-nav-block.slide.slide--2005.u-centering-wrapper(data-title= slides['2005']['title'])
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['2005']['title']
      p.date= slides['2005']['date']
      p= slides['2005']['content'][0]
