section#block-2006-b.js-nav-block.slide.slide--2006-b.u-centering-wrapper
  .slide__bg.slide__bg--2006-b
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['2006-b']['title']
      p.date= slides['2006-b']['date']
      p= slides['2006-b']['content'][0]
      p= slides['2006-b']['content'][1]
