section.slide.slide--2006-b.u-centering-wrapper
  .slide__bg.slide__bg--2006-b
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['2006-b']['title']
      p.date= slides['2006-b']['date']
