section#block-2011-cerber-and-styx.js-nav-block.slide.slide--2011-2012.u-centering-wrapper(data-title= slides['2011-2012']['title'])
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['2011-2012']['title']
      p.date= slides['2011-2012']['date']
