section#block-2015-rendezvous-with-pluto.js-nav-block.slide.slide--2015.u-centering-wrapper(data-title= slides['2015']['title'])
  .u-centered
    .slide__content
      h2.heading.heading--slide= slides['2015']['title']
      p.date= slides['2015']['date']
      p= slides['2015']['content'][0]
