section#block-2015.js-nav-block.slide.slide--2015.u-centering-wrapper
  .u-centered
    .slide__content
      h2.headline.headline--slide= slides['2015']['title']
      p.date= slides['2015']['date']
      p= slides['2015']['content'][0]
