.timeline
  .timeline__label.timeline__label--start 1848
  .timeline__label.timeline__label--end 2015
  .timeline__guidline
    .timeline__bull.timeline__bull--top
    .timeline__bull.timeline__bull--bottom
  .timeline__date-wrapper
    .timeline__date-cursor
      .timeline__date
      .timeline__super-bull

