.credits-list
  width 100%
  font-family $font--main
  line-height 2
  font-size $epsilon-size
  color $color--pale-white
  padding 2.75em 0
  display block
  float left
.credits-list dt,
.credits-list dl
  width 100%
  text-align center 
  +media-query( $screen, $bp--tablet )
    width 50%
  float left
  padding 0 0.5em

.credits-list dt 
  +media-query( $screen, $bp--tablet )
    text-align right
  color $color--pale-white--dark
.credits-list dl 
  font-family $font--headlines
  line-height 2.2em
  +media-query( $screen, $bp--tablet )
    text-align left
  text-transform uppercase
  color $color
