.footer
  min-height 100%
  background-image url('../images/footer-background.jpg')
  background-size cover
  background-position center
  position relative
  padding 2em 0
.footer__copy
  font-size $zeta-size
  color $color--pale-white--dark
