.gratitudes-list
  width 100%
  padding 1em 0
.gratitudes-list li
  width 100%
  text-align center
  color $color--pale-white
  text-decoration none
  font-family $font--headlines
  line-height 2
  font-size $epsilon-size
  text-transform uppercase
