.intro
  min-height 100%
  background-image url('../images/intro-1.jpg')
  background-size cover
  background-position center
  position relative

.intro__text
  padding-left 12px
  padding-right 12px
  padding-bottom 80px  
  +media-query( $screen, $bp--tablet--portrait )
    width 565px
    margin-left auto
    margin-right auto

.intro__image
  width 300px
  +media-query( $screen, $bp--tablet )
    width auto
