.orbits
  position absolute
  size 1000px 1000px
  top 50%
  left 45%
  margin-top -500px
  background url('../images/1979-orbits-background.png') no-repeat center
.orbits__date
  position absolute
  size 75px 25px
  // border solid 1px red
  z-index 100
  font-weight 100
  color #637682
  font-family $font--headlines
  font-size $delta-size
  text-align left
  padding-left 30px
  padding-top 1px
  &:before
    content ""
    position absolute
    size 8px 8px
    background #637682
    left 6px
    top 6px
    border-radius 4px
    box-shadow 0 0 0 10px rgba(255,255,255,.1)
.orbits__date--1979
  top 272px
  left 134px
.orbits__date--1989
  top 500px
  left 85px
.orbits__date--1999
  top 704px
  left 134px
