.slide
  position relative
  min-height 100%
  overflow hidden

.slide__bg
  position absolute
  left 0
  top 0
  size 100% 100%  
  background-position center
  background-size cover
  z-index 10

.slide__content 
  position relative
  z-index 100
  
.slide--1905
  background black
.slide--2006-b
  background black
.slide--1915
  background url('../images/1915-background.jpg')


.slide__bg--1848
  background-image url('../images/1848.jpg')

.slide__bg--1905
  background-image url('../images/1905-1.jpg')
.slide__bg--1915
  z-index 50
  background-image url('../images/1915-calculations.png')
.slide__bg--2006-b
  background-image url('../images/2006-b.jpg')
