.slide
  position relative
  overflow hidden
  +media-query( $screen, $bp--tablet )
    min-height 100%

.slide__content 
  position relative
  text-align left
  z-index 100
  padding 1em
  float left
  +media-query( $screen, $bp--tablet )
    margin-left 5%
    width 50%
  +media-query( $screen, $bp--desktop )
    width 40%
  h2, p
    color $color--black

.slide__video--1990,
.slide__image
  float left
  width 100%
  +media-query( $screen, $bp--tablet )
    width 45%
  +media-query( $screen, $bp--desktop )
    width 55%

.slide--1990,
.slide--1978
  +media-query( $screen, $bp--tablet )
    background black
    h2, p 
      color white
.slide--1905
  +media-query( $screen, $bp--tablet )
    background black
    h2, p 
      color white
    p.date 
      display none
.slide--2006-b
  +media-query( $screen, $bp--tablet )
    h2, p
      color white
    background black
.slide--1915
  +media-query( $screen, $bp--tablet )
    background url('../images/1915-background.jpg')
    h2, p
      color white

.slide__bg
  display none
  +media-query( $screen, $bp--tablet )
    display block
  position absolute
  left 0
  top 0
  size 100% 100%  
  background-position center
  background-size cover
  z-index 10


.slide__bg--1848
  background-image url('../images/1848.jpg')
.slide__bg--1905
  background-image url('../images/1905-1.jpg')
.slide__bg--1915
  z-index 50
  background-image url('../images/1915-calculations.png')
.slide__bg--2006-b
  background-image url('../images/2006-b.jpg')

.slide__image--1978
  height 400px
  background-image url('../images/1978-A_Moon_over_Pluto_(Close_up).gif')
  background-repeat no-repeat
  background-position center
  background-color black
.slide__video--1990
  video
    height auto
    width 100%
    +media-query( $screen, $bp--tablet )
      max-width 400px
    +media-query( $screen, $bp--desktop )
      max-width 500px
