.social-networks
  text-align center
  margin-top 2em
  margin-bottom 1em
  float left
  width 100%
  text-align center
.social-networks li
  display inline-block
.social-networks a
  display block
  size 35px 35px
  background-size 35px auto
