extends ../layout
block content
  article.slides-wrapper
    include ../components/intro
    include ../slides/1848
    include ../slides/1905
    include ../slides/1915
    // include ../slides/1930-a
    // include ../slides/1930-b
    include ../slides/1965
    // include ../slides/1976
    include ../slides/1978
    include ../slides/1979
    include ../slides/1986
    // include ../slides/1988-a
    include ../slides/1988-b
    include ../slides/1990
    // include ../slides/1992
    // include ../slides/2005
    include ../slides/2006-a
    include ../slides/2006-b
    // include ../slides/2011-2012
    // include ../slides/2015
  include ../includes/subscribe-view
