.acknowledgements
  width 100%
  padding 1em 0

.acknowledgements li
  width 100%
  text-align center
  color $color--light-gray
  text-decoration none
  font-family $font--headings
  line-height 2
  font-size $size--nano
  text-transform uppercase
