.timer
  width 100%
  float left
  margin-bottom rem(30px)

.timer__list
  color $color--white
  margin 0 auto
  width 282px
  +media-query( $screen, $bp--tablet )
    width 370px
  +media-query( $screen, $bp--desktop )
    width 550px

.timer__unit-title
  font-family $font--headings
  font-size $size--femto
  text-transform uppercase
  letter-spacing rem(3px)
  color $color--light-gray
  margin-top rem(15px)

.timer li
  float left

.timer li span
  width 100%
  display block

.timer__number
  font-family $font--headings--extra-condenced
  font-size $size--tera
  +media-query( $screen, $bp--tablet )
    font-size $size--peta
  +media-query( $screen, $bp--desktop )
    font-size $size--exa

.timer__number--divider
  font-size $size--kilo
  +media-query( $screen, $bp--desktop )
    font-size $size--peta
  text-align center
  padding-left .25em
  padding-right .25em
  margin-top 10px
  +media-query( $screen, $bp--tablet )
    margin-top 13px
  +media-query( $screen, $bp--desktop )
    margin-top 16px

.timer__number--seconds
  font-weight 100

.timer__number--days,
.timer__number--hours,
.timer__number--minutes,
.timer__number--seconds
  min-width 50px
  +media-query( $screen, $bp--tablet )
    min-width 75px
  +media-query( $screen, $bp--desktop )
    min-width 100px
