@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

@import 'settings.styl'
@import 'generic/vertical-centering.styl'

@import 'base/main.styl'
@import 'base/headings.styl'
@import 'base/paragraphs.styl'
@import 'base/hr.styl'

@import 'objects/subscribe-view.styl'
@import 'objects/footer.styl'
@import 'objects/icon.styl'
@import 'objects/slides-wrapper.styl'
@import 'objects/intro.styl'
@import 'objects/slide.styl'
@import 'objects/footer-links.styl'
@import 'objects/credits-list.styl'
@import 'objects/gratitudes-list.styl'
@import 'objects/references-list.styl'
@import 'objects/timer.styl'
@import 'objects/social-networks.styl'
