@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

@import 'settings.styl'
@import 'base/main.styl'

@import 'generic/headings.styl'
@import 'generic/paragraphs.styl'

@import 'objects/intro.styl'
@import 'objects/slide.styl'
