/***
  * Font-sizes
  */

$giga-size = rem(96px)
$mega-size = rem(72px)
$kilo-size = rem(48px)

$alpha-size = rem(36px)
$beta-size = rem(30px)
$gamma-size = rem(24px)
$delta-size = rem(20px)
$epsilon-size = rem(16px)
$zeta-size = rem(14px)

$milli-size = rem(12px)
$micro-size = rem(10px)

/***
  * Base stuff
  */

$base-font-size = $zeta-size
$base-line-height = $gamma-size

/***
  * Base font-family.
  */

$base-font-family = sans-serif


/***
  * Colors
  */

$base-font-color = white
