//
// SETTINGS
// ========
// Project specific setings which can be changed to modify the basic look and
// feel of the project with little effort.
//
// 1. BREAKPOINTS AND MEDIA QUERIES
// 2. COLOURS
// 3. TYPEFACES
// 4. FONT SIZES
// 5. FONT WEIGHTS
// 6. BASE STYLES
// 7. GRID
// 8. DEBUG STYLING
// 9. DEFAULT ENVIRONMENT
//

//
// 1. BREAKPOINTS AND MEDIA QUERIES
// Setup standard widths to pass to media queries
//

$bp--mobile--portrait    = min-width 0px
$bp--mobile--landscape   = min-width 400px
$bp--mobile--landscape   = min-width 450px
$bp--tablet--portrait    = min-width 550px
$bp--tablet--portrait    = min-width 675px
$bp--tablet--landscape   = min-width 767px
$bp--desktop--small      = min-width 1024px
$bp--desktop--medium     = min-width 1280px
$bp--desktop--large      = min-width 1600px

// Common aliases
$bp--mobile              = $bp--mobile--portrait
$bp--tablet              = $bp--tablet--portrait
$bp--desktop             = $bp--desktop--small

$screen = only screen

//
// 2. COLOURS
//

$color--white            = #ffffff
$color--black            = #000000

$color--light-gray       = #788490
$color--dark-gray        = #5a6169

$color--dark-blue        = #01050c
$color--space-blue       = #002432
$color--red              = #e9424e

//
// 3. TYPEFACES
//

$font--main                       = 'Open Sans', font-stack( "Helvetica" )
$font--headings                   = $font--headings--condenced, $font--main
$font--headings--condenced         = 'Proxima Nova W10'
$font--headings--extra-condenced  = 'Proxima Nova W01'

//
// 4. FONT SIZES
//

// Extra large
$size--yotta             = rem(230px)
$size--zetta             = rem(160px)
$size--exa               = rem(105px)
$size--peta              = rem(60px)
$size--tera              = rem(50px)
$size--giga              = rem(40px)
$size--mega              = rem(36px)
$size--kilo              = rem(30px)

// Basic
$size--hecto             = rem(28px)
$size--deca              = rem(26px)
$size--deci              = rem(24px)
$size--centi             = rem(22px)
$size--milli             = rem(20px)
$size--micro             = rem(18px)
$size--nano              = rem(16px)
$size--pico              = rem(14px)

// Extra small
$size--femto             = rem(12px)
$size--atto              = rem(10px)
$size--zepto             = rem(8px)
$size--yocto             = rem(6px)

//
// 5. FONT WEIGHTS
//

$weight--thin            = 100
$weight--light           = 300
$weight--regular         = 400
$weight--medium          = 500
$weight--semibold        = 600
$weight--bold            = 700
$weight--extrabold       = 800
$weight--black           = 900

//
// 6. BASE STYLES
//

$base--font-heading      = $font--headings
$base--font-body         = $font--main
$base--font-color        = $color--white
$base--font-size         = $size--pico
$base--line-height       = 1.6
$base--spacing           = ($base--line-height)em
$base--margin            = $size--deci
$base--body-bg           = $color--space-blue

//
// 7. GRID
//

//
// 8. DEBUG STYLING
//

$debug--mode = false

//
// 8. DEFAULT ENVIRONMENT
// Projects may optionally pass through an environment variable to dictate
// whether development specific stylesheets are compiled into the final CSS.
// Set this variable to anything other than 'development' to manually override.
//

$environment ?= 'development'
