//-
//- STANDARD META TAGS
//-

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0')

//-
//- Project Specific
//-

meta(name='creator', content='')
meta(name='publisher', content='')
meta(property='og:image', content='images/fb.jpg')

//-
//- Page Specific
//-
  
block metaAuthor
  meta(name='author', content='biguniverse.ru')

block metaDescription
  meta(name='description' content='')

block metaKeywords
  meta(name='keywords' content='')

//-
//- PAGE TITLE
//-

block title
  title Pluto


//-
//- CSS
//-

link(rel='stylesheet' href='css/main.css', charset='utf-8')

//-
//- Fonts
//-
link(href='http://fast.fonts.net/cssapi/f42e6842-8db1-43f1-9ca3-766b4e031b56.css' rel='stylesheet' type='text/css') 
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300' rel='stylesheet' type='text/css')

//-
//- JAVASCRIPT - HEAD SPECIFIC
//-

block headScripts
  //- script(src='//cdn.polyfill.io/v1/polyfill.min.js')
  //- script(src='vendor/matchMedia/matchMedia.js')
  //- script(src='vendor/matchMedia/matchMedia.addListener.js')
  //- script(src='vendor/fastclick/lib/fastclick.js')
  //- script(src='vendor/modernizr/modernizr.js')
  //- script(src='vendor/media-match/media.match.min.js')
                                  
  <!--[if lte IE 8]>
  script(src='vendor/html5shiv/dist/html5shiv.min.js')
  <![endif]-->


//-
//- ICONS / IMAGES / DEVICE SPECIFICS
//-

//- link(rel='shortcut icon' href='images/meta/32.ico')

//-
//- iOS App Icons / Title
//-

//- meta(name='apple-mobile-web-app-title' content='')
//- link(rel='apple-touch-icon' href='images/meta/57_57.png'   sizes='57x57')
//- link(rel='apple-touch-icon' href='images/meta/114_114.png' sizes='114x114')
//- link(rel='apple-touch-icon' href='images/meta/120_120.png' sizes='120x120')
//- link(rel='apple-touch-icon' href='images/meta/72_72.png'   sizes='72x72')
//- link(rel='apple-touch-icon' href='images/meta/76_76.png'   sizes='76x76')
//- link(rel='apple-touch-icon' href='images/meta/144_144.png' sizes='144x144')
//- link(rel='apple-touch-icon-precomposed' href='images/meta/152_152.png' sizes='152x152')


//-
//- Microsoft Pinned Tile
//-

//- meta(name='application-name' content='')
//- meta(name='msapplication-TileImage' content='images/meta/144_144.png')
//- meta(name='msapplication-TileColor' content='#ffffff')
