doctype html
html(lang='en')

  head
    include includes/document-head
    include includes/ga-analytics
  body

    block body-start

    .main-content(role='main')
      block content

    block body-end

