h1,
h2,
h3,
h4,
h5,
h6,
.heading
  color $base--font-color
  font-family $font--headings

.heading--l
  text-transform uppercase
  font-weight 100
  letter-spacing 0.1em
  font-size $size--kilo
  margin .75em 0
  +media-query( $screen, $bp--tablet )
    font-size $size--tera
  +media-query( $screen, $bp--desktop )
    font-size $size--peta

.heading--slide
  margin .25em 0
  font-size $size--kilo
  font-weight $weight--light
  letter-spacing 0.1em
  +media-query( $screen, $bp--tablet )
    font-size $size--giga
  +media-query( $screen, $bp--desktop )
    font-size $size--tera

.heading--m
  text-transform uppercase
  font-weight 100
  letter-spacing 0.1em
  font-size $size--deci
  margin .75em 0
  +media-query( $screen, $bp--tablet )
    font-size $size--kilo
  +media-query( $screen, $bp--desktop )
    font-size $size--mega

.heading--xs
  font-family $font--main
  color $base--font-color
  font-size $size--nano
  margin-top 1em
  +media-query( $screen, $bp-desktop )
    font-size $size--nano
.heading--pale-white--dark
  color $color--dark-gray
  span
    color $color--light-gray

.heading--subscribe-title
  font-family $font--headings--condenced
  font-weight $light
  font-size rem(20px)
  letter-spacing rem(3px)
  margin rem(30px)
  +media-query( $screen, $bp-desktop )
    font-size rem(25px)
