h1,
h2,
h3,
h4,
h5,
h6,
.headline
  color $base-font-color
  font-family $font--headlines

.headline--xxl
  text-transform uppercase
  font-weight 100
  letter-spacing 0.1em
  font-size $beta-size
  margin-bottom 0
  +media-query( $screen, $bp--tablet )
    font-size $kilo-size
  +media-query( $screen, $bp--desktop )
    font-size $mega-size
    
.headline--xxl span
  display block
  font-weight 900
  font-size $kilo-size
  margin-top .15em
  +media-query( $screen, $bp--tablet )
    font-size $sup-sup-giga-size
    margin-top 0
  +media-query( $screen, $bp--tablet--landscape )
    font-size $sup-giga-size
  +media-query( $screen, $bp--desktop--medium )
    margin-top auto
    font-size $giga-size

.headline--l
  text-transform uppercase
  font-weight 100
  letter-spacing 0.1em
  font-size $beta-size
  margin .75em 0
  +media-query( $screen, $bp--tablet )
    font-size $kilo-size
  +media-query( $screen, $bp--desktop )
    font-size $mega-size
    
.headline--slide
  text-transform uppercase
  font-weight 400
  letter-spacing 0.1em
  font-size $beta-size
  margin .25em 0
  +media-query( $screen, $bp--tablet )
    font-size $sup-kilo-size
  +media-query( $screen, $bp--desktop )
    font-size $kilo-size
    
  
.headline--m
  text-transform uppercase
  font-weight 100
  letter-spacing 0.1em 
  font-size $gamma-size 
  margin .75em 0
  +media-query( $screen, $bp--tablet )
    font-size $beta-size
  +media-query( $screen, $bp--desktop )
    font-size $alpha-size

.headline--xs
  font-family $font--main 
  color $base-font-color
  font-size $epsilon-size
  margin-top 1em
  +media-query( $screen, $bp-desktop )
    font-size $epsilon-size
.headline--pale-white--dark
  color $color--pale-white--dark
  span 
    color $color--pale-white
