p
  font-family $font--main
  color $base-font-color
  line-height 1.6em
  font-size $epsilon-size
  margin 1.5em 0
  +media-query( $screen, $bp--desktop )
    font-size $delta-size
p.date
  margin-top 0
  +media-query( $screen, $bp--tablet )
    margin-bottom 3em
