header#block-cover.js-nav-block.js-nav-block-active.cover.u-centering-wrapper(data-title= cover['title'][0])
  .u-centered
    h1.heading.cover__title!= cover['title'][0]
      strong= cover['title'][1]
  a.icon.icon-scroll-indicator(href='#') Scroll Down
