header#block-cover.js-nav-block.js-nav-block-active.cover.u-centering-wrapper(data-title= cover['title'][0])
  .u-centered
    h1.heading.cover__title!= cover['title'][0]
      strong= cover['title'][1]
    p.cover__ui-hint!= cover['ui-hint']
  .slide__background.clyde-tombaugh
  .slide__background.alan-stern
  .slide__background.percival-lowell
  .slide__background.new-horizons
  .slide__background.pluto
  .slide__background.charon
  .slide__background.charon
  .slide__background.lense-flare
  .slide__background.vortex
  a.icon.icon-scroll-indicator(href='#')= cover['ui-hint']
