header#block-intro.js-nav-block.js-nav-block-active.intro.u-centering-wrapper(data-title= intro['title'][0])
  .u-centered
    h2.headline--xs= intro['big-universe-project'] 
    h1.headline--xxl!= intro['title'][0]
      span= intro['title'][1]
    img.intro__image(src='images/intro-planets.svg')
    p.intro__text= intro['content']
  a.icon.icon-scroll-indicator.icon--scroll-indicator(href='#') Scroll Down
